# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [4]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../WeatherPy_Database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv("WeatherPy_Database.csv")

# Display sample data
city_data_df.head()

,Weather_Database,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Vaini,TO,-21.2000,-175.2000,23.09,100,40,2.06,scattered clouds
1,1,Klaksvik,FO,62.2266,-6.5890,9.51,77,1,18.31,clear sky
2,2,Ushuaia,AR,-54.8000,-68.3000,12.79,62,20,0.51,few clouds
3,3,Noyabrsk,RU,63.1994,75.4507,4.14,84,100,5.48,overcast clouds
4,4,Virginia Beach,US,36.8529,-75.9780,12.25,91,100,5.14,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [5]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 30
What is the maximum temperature you would like for your trip? 100

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [6]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,Weather_Database,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
13,13,Kolondieba,ML,11.0882,-6.8926,31.66,64,80,1.17,broken clouds
75,75,Presidencia Roque Saenz Pena,AR,-26.7852,-60.4388,32.14,18,0,3.20,clear sky
76,76,Manicore,BR,-5.8092,-61.3003,38.20,30,50,1.62,scattered clouds
110,110,Alta Floresta,BR,-9.8756,-56.0861,34.53,34,49,1.44,scattered clouds
117,117,Bonito,BR,-21.1211,-56.4819,33.23,32,2,2.37,clear sky
128,128,Marrakesh,MA,31.6315,-8.0083,33.04,18,73,1.03,broken clouds
133,133,Koutiala,ML,12.3917,-5.4642,32.40,56,64,2.82,broken clouds
144,144,Esna,EG,25.2934,32.5540,32.89,20,0,6.29,clear sky
197,197,Bougouni,ML,11.4170,-7.4790,32.39,60,79,0.61,broken clouds
213,213,Aswan,EG,24.0934,32.9070,37.61,14,0,2.06,clear sky

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [11]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,Weather_Database,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
13,13,Kolondieba,ML,11.0882,-6.8926,31.66,64,80,1.17,broken clouds
75,75,Presidencia Roque Saenz Pena,AR,-26.7852,-60.4388,32.14,18,0,3.20,clear sky
76,76,Manicore,BR,-5.8092,-61.3003,38.20,30,50,1.62,scattered clouds
110,110,Alta Floresta,BR,-9.8756,-56.0861,34.53,34,49,1.44,scattered clouds
117,117,Bonito,BR,-21.1211,-56.4819,33.23,32,2,2.37,clear sky
128,128,Marrakesh,MA,31.6315,-8.0083,33.04,18,73,1.03,broken clouds
133,133,Koutiala,ML,12.3917,-5.4642,32.40,56,64,2.82,broken clouds
144,144,Esna,EG,25.2934,32.5540,32.89,20,0,6.29,clear sky
197,197,Bougouni,ML,11.4170,-7.4790,32.39,60,79,0.61,broken clouds
213,213,Aswan,EG,24.0934,32.9070,37.61,14,0,2.06,clear sky

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [13]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng
13,Kolondieba,ML,31.66,broken clouds,11.0882,-6.8926
75,Presidencia Roque Saenz Pena,AR,32.14,clear sky,-26.7852,-60.4388
76,Manicore,BR,38.20,scattered clouds,-5.8092,-61.3003
110,Alta Floresta,BR,34.53,scattered clouds,-9.8756,-56.0861
117,Bonito,BR,33.23,clear sky,-21.1211,-56.4819
128,Marrakesh,MA,33.04,broken clouds,31.6315,-8.0083
133,Koutiala,ML,32.40,broken clouds,12.3917,-5.4642
144,Esna,EG,32.89,clear sky,25.2934,32.5540
197,Bougouni,ML,32.39,broken clouds,11.4170,-7.4790
213,Aswan,EG,37.61,clear sky,24.0934,32.9070

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [14]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
13,Kolondieba,ML,31.66,broken clouds,11.0882,-6.8926,
75,Presidencia Roque Saenz Pena,AR,32.14,clear sky,-26.7852,-60.4388,
76,Manicore,BR,38.20,scattered clouds,-5.8092,-61.3003,
110,Alta Floresta,BR,34.53,scattered clouds,-9.8756,-56.0861,
117,Bonito,BR,33.23,clear sky,-21.1211,-56.4819,
128,Marrakesh,MA,33.04,broken clouds,31.6315,-8.0083,
133,Koutiala,ML,32.40,broken clouds,12.3917,-5.4642,
144,Esna,EG,32.89,clear sky,25.2934,32.5540,
197,Bougouni,ML,32.39,broken clouds,11.4170,-7.4790,
213,Aswan,EG,37.61,clear sky,24.0934,32.9070,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [15]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [16]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
13,Kolondieba,ML,31.66,broken clouds,11.0882,-6.8926,Park
75,Presidencia Roque Saenz Pena,AR,32.14,clear sky,-26.7852,-60.4388,Hotel Gualok
76,Manicore,BR,38.20,scattered clouds,-5.8092,-61.3003,Hotel Durval
110,Alta Floresta,BR,34.53,scattered clouds,-9.8756,-56.0861,Floresta Amazonica Hotel
117,Bonito,BR,33.23,clear sky,-21.1211,-56.4819,Marruá Hotel

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [18]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
13,Kolondieba,ML,31.66,broken clouds,11.0882,-6.8926,Park
75,Presidencia Roque Saenz Pena,AR,32.14,clear sky,-26.7852,-60.4388,Hotel Gualok
76,Manicore,BR,38.20,scattered clouds,-5.8092,-61.3003,Hotel Durval
110,Alta Floresta,BR,34.53,scattered clouds,-9.8756,-56.0861,Floresta Amazonica Hotel
117,Bonito,BR,33.23,clear sky,-21.1211,-56.4819,Marruá Hotel
128,Marrakesh,MA,33.04,broken clouds,31.6315,-8.0083,Les Jardins de La Koutoubia
133,Koutiala,ML,32.40,broken clouds,12.3917,-5.4642,Hotel La Chaumiere
144,Esna,EG,32.89,clear sky,25.2934,32.5540,Orient Star Dahabyia Isna 05 Nights Each Sunday
197,Bougouni,ML,32.39,broken clouds,11.4170,-7.4790,Non Stop
213,Aswan,EG,37.61,clear sky,24.0934,32.9070,Nuba Nile

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [19]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="Vacation_Search")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [20]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [21]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Park</dd>\n<dt>City</dt><dd>Kolondieba</dd>\n<dt>Country</dt><dd>ML</dd>\n<dt>Current Weather</dt><dd>broken clouds and 31.66 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Gualok</dd>\n<dt>City</dt><dd>Presidencia Roque Saenz Pena</dd>\n<dt>Country</dt><dd>AR</dd>\n<dt>Current Weather</dt><dd>clear sky and 32.14 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Durval</dd>\n<dt>City</dt><dd>Manicore</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 38.2 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Floresta Amazonica Hotel</dd>\n<dt>City</dt><dd>Alta Floresta</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 34.53 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Marruá Hotel</dd>\n<dt>City</dt><dd>Bonito</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>clear sky and 33.23 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Les Jardins de La Koutoubia</dd>\n<dt>City</dt><dd>Marrakesh</dd>\n<dt>Country</dt><dd>MA</dd>\n<dt>Current Weather</dt><dd>broken clouds and 33.04 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel La Chaumiere</dd>\n<dt>City</dt><dd>Koutiala</dd>\n<dt>Country</dt><dd>ML</dd>\n<dt>Current Weather</dt><dd>broken clouds and 32.4 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Orient Star Dahabyia Isna 05 Nights Each Sunday</dd>\n<dt>City</dt><dd>Esna</dd>\n<dt>Country</dt><dd>EG</dd>\n<dt>Current Weather</dt><dd>clear sky and 32.89 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Non Stop</dd>\n<dt>City</dt><dd>Bougouni</dd>\n<dt>Country</dt><dd>ML</dd>\n<dt>Current Weather</dt><dd>broken clouds and 32.39 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Nuba Nile</dd>\n<dt>City</dt><dd>Aswan</dd>\n<dt>Country</dt><dd>EG</dd>\n<dt>Current Weather</dt><dd>clear sky and 37.61 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [22]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

         Lat      Lng
13   11.0882  -6.8926
75  -26.7852 -60.4388
76   -5.8092 -61.3003
110  -9.8756 -56.0861
117 -21.1211 -56.4819
128  31.6315  -8.0083
133  12.3917  -5.4642
144  25.2934  32.5540
197  11.4170  -7.4790
213  24.0934  32.9070

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [24]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, -80), zoom_level=1.5)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))